---
import Hero from '../components/Hero.astro';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="C2C CONSTRUCTIONS"
      description="Former L&T Engineers | Residential • Commercial • Industrial Construction"
    />
  </head>

  <body class="m-0">
    <Hero />
  </body>
</html>
