---
import Hero from '../components/Hero.astro';---
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<main>
  <Hero />
</main>
		</main>
		<Footer />
	</body>
</html>
